@import "tailwindcss";

:root {
  font-family: "Rubik";
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
